:root {
  --color-blue: #5776bf;
  --color-grey: #797a80;
  --color-light-grey: #f8f8f8;
  --color-purple: #5a84e8;
  --color-light-blue: #61dafb;
  --color-light-purple: #618efb;
}

.header h1 {
  font-size: 80px;
  background: -webkit-linear-gradient( var( --color-light-grey), var(--color-blue));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
