.constant_footer {
  background-color: #282c34;
  bottom: 0;

  min-height: 60px;
  padding-top: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.constant_footer a {
  color: #618efb;
  text-decoration: none;
}

.constant_footer a:hover {
  color: #61dafb;
  opacity: .5;
}

.flash-section a {
  margin: 15px;
  color: #618efb;
}

.flash-ul {
  list-style: none;
  margin: 0 auto;
  max-width: 300px;
}

.flash-ul li {
  color: #618efb;
}

.card-container {
  max-width: 250px;
}
